<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>bibliography</display-name>
 <distributable/>
 <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
  <param-value>500000</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.enableControlSkinning</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.enableControlSkinningClasses</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.fileUpload.createTempFiles</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.skin</param-name>
  <param-value>blueSky</param-value>
 </context-param>
 <filter>
  <filter-name>LoginFilter</filter-name>
  <filter-class>rs.ac.uns.ftn.informatika.bibliography.utils.LoginFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/bibliographicRecords/*</url-pattern>
  <url-pattern>/normativeRecords/*</url-pattern>
  <url-pattern>/administration/change*</url-pattern>
  <url-pattern>/administration/logged*</url-pattern>
  <url-pattern>/administration/addLogged*</url-pattern>
  <url-pattern>/cerif/*</url-pattern>
  <url-pattern>/interoperability/import*</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>FileManagerServlet</servlet-name>
  <servlet-class>rs.ac.uns.ftn.informatika.bibliography.utils.FileManagerServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ReportsServlet</servlet-name>
  <servlet-class>rs.ac.uns.ftn.informatika.bibliography.reports.ReportsServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CRISUNSInitializer</servlet-name>
  <servlet-class>rs.ac.uns.ftn.informatika.bibliography.utils.InitializerServlet</servlet-class>
  <init-param>
   <param-name>jndiFactory</param-name>
   <param-value>jms/ConnectionFactory</param-value>
  </init-param>
  <init-param>
   <param-name>jndiQueueUpdater</param-name>
   <param-value>jms/queue/crisUpdater</param-value>
  </init-param>
  <init-param>
   <param-name>jndiQueueEmailer</param-name>
   <param-value>jms/queue/crisEmailer</param-value>
  </init-param>
  <init-param>
   <param-name>jndiDataSource</param-name>
   <param-value>jdbc/cris</param-value>
  </init-param>
  <init-param>
   <param-name>luceneIndex</param-name>
   <param-value>E:/cris/lucene-index</param-value>
  </init-param>
  <init-param>
   <param-name>subreportDir</param-name>
   <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/classes/rs/ac/uns/ftn/informatika/bibliography/reports/jasper/</param-value>
  </init-param>
  <init-param>
   <param-name>contextSetPath</param-name>
   <param-value>E:/cris/contextSet/</param-value>
  </init-param>
  <init-param>
   <param-name>storageRoot</param-name>
   <param-value>E:/cris/files</param-value>
  </init-param>
  <init-param>
   <param-name>dictionaryRoot</param-name>
   <param-value>E:/cris/dictionary</param-value>
  </init-param>
  <init-param>
   <param-name>geolocationData</param-name>
   <param-value>I:/GeoLiteCity.dat</param-value>
  </init-param>
  <init-param>
   <param-name>documentPerSet</param-name>
   <param-value>1000</param-value>
  </init-param>
  <load-on-startup>6</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandler</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicat.properties</param-value>
 </init-param>
 <load-on-startup>7</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerDOISerbia</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatDOISerbia.properties</param-value>
 </init-param>
 <load-on-startup>8</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerDARTEurope</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatDARTEurope.properties</param-value>
 </init-param>
 <load-on-startup>9</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerOpenAIRE</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatOpenAIRE.properties</param-value>
 </init-param>
 <load-on-startup>10</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerNDLTD</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatNDLTD.properties</param-value>
 </init-param>
 <load-on-startup>11</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerOATD</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatOATD.properties</param-value>
 </init-param>
 <load-on-startup>12</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerDOISerbiaPA</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatDOISerbiaPA.properties</param-value>
 </init-param>
 <load-on-startup>13</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerDARTEuropePA</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatDARTEuropePA.properties</param-value>
 </init-param>
 <load-on-startup>14</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerOpenAIREPA</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatOpenAIREPA.properties</param-value>
 </init-param>
 <load-on-startup>15</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerNDLTDPA</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatNDLTDPA.properties</param-value>
 </init-param>
 <load-on-startup>16</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerOATDPA</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatOATDPA.properties</param-value>
 </init-param>
 <load-on-startup>17</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerNaRDuS</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatNaRDuS.properties</param-value>
 </init-param>
 <load-on-startup>18</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerNaRDuSPA</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatNaRDuSPA.properties</param-value>
 </init-param>
 <load-on-startup>19</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerOpenAIRECRIS</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatOpenAIRECRIS.properties</param-value>
 </init-param>
 <load-on-startup>20</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerProQuest</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-7.0.19/webapps/bibliography/WEB-INF/oaicatProQuest.properties</param-value>
 </init-param>
 <load-on-startup>21</load-on-startup>
 </servlet>
 <servlet>
  <description>This servlet processes OAI verbs. 
	
	        The initialization parameter names for this servlet are the
	        "servlet path" that will be received by this servlet (after the
	        filename extension is removed).  The corresponding value is the
	        name of the action class that will be used to process this request.</description>
  <servlet-name>OAIHandlerBEOPEN</servlet-name>
  <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
  <init-param>
  <description>
        		The location of the oaicat.properties file containing
        		datapairs used to initialize the OAI repository software.
      		</description>
  <param-name>properties</param-name>
  <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatBEOPEN.properties</param-value>
 </init-param>
 <load-on-startup>22</load-on-startup>
 </servlet>
    <servlet>
        <description>This servlet processes OAI verbs.

            The initialization parameter names for this servlet are the
            "servlet path" that will be received by this servlet (after the
            filename extension is removed).  The corresponding value is the
            name of the action class that will be used to process this request.</description>
        <servlet-name>OAIHandlerBEOPENILFE</servlet-name>
        <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
        <init-param>
            <description>
                The location of the oaicat.properties file containing
                datapairs used to initialize the OAI repository software.
            </description>
            <param-name>properties</param-name>
            <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatBEOPENILFE.properties</param-value>
        </init-param>
        <load-on-startup>23</load-on-startup>
    </servlet>
<servlet>
    <description>This servlet processes OAI verbs.

        The initialization parameter names for this servlet are the
        "servlet path" that will be received by this servlet (after the
        filename extension is removed).  The corresponding value is the
        name of the action class that will be used to process this request.</description>
    <servlet-name>OAIHandlerENauka</servlet-name>
    <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
    <init-param>
        <description>
            The location of the oaicat.properties file containing
            datapairs used to initialize the OAI repository software.
        </description>
        <param-name>properties</param-name>
        <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatENauka.properties</param-value>
    </init-param>
    <load-on-startup>24</load-on-startup>
</servlet>
<servlet>
    <description>This servlet processes OAI verbs.

        The initialization parameter names for this servlet are the
        "servlet path" that will be received by this servlet (after the
        filename extension is removed).  The corresponding value is the
        name of the action class that will be used to process this request.</description>
    <servlet-name>OAIHandlerENaukaILFE</servlet-name>
    <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
    <init-param>
        <description>
            The location of the oaicat.properties file containing
            datapairs used to initialize the OAI repository software.
        </description>
        <param-name>properties</param-name>
        <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatENaukaILFE.properties</param-value>
    </init-param>
    <load-on-startup>25</load-on-startup>
</servlet>
<servlet>
    <description>This servlet processes OAI verbs.

        The initialization parameter names for this servlet are the
        "servlet path" that will be received by this servlet (after the
        filename extension is removed).  The corresponding value is the
        name of the action class that will be used to process this request.</description>
    <servlet-name>OAIHandlerENaukaUPAFarmacija</servlet-name>
    <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
    <init-param>
        <description>
            The location of the oaicat.properties file containing
            datapairs used to initialize the OAI repository software.
        </description>
        <param-name>properties</param-name>
        <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatENaukaUPAFarmacija.properties</param-value>
    </init-param>
    <load-on-startup>26</load-on-startup>
</servlet>
<servlet>
    <description>This servlet processes OAI verbs.

        The initialization parameter names for this servlet are the
        "servlet path" that will be received by this servlet (after the
        filename extension is removed).  The corresponding value is the
        name of the action class that will be used to process this request.</description>
    <servlet-name>OAIHandlerTeslaRIS</servlet-name>
    <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
    <init-param>
        <description>
            The location of the oaicat.properties file containing
            datapairs used to initialize the OAI repository software.
        </description>
        <param-name>properties</param-name>
        <param-value>E:/cris/apache-tomcat-8.0.28/webapps/bibliography/WEB-INF/oaicatTeslaRIS.properties</param-value>
    </init-param>
    <load-on-startup>27</load-on-startup>
</servlet>
 <servlet>
		<description>
		</description>
		<display-name>MaticnaKnjigaServlet</display-name>
		<servlet-name>MaticnaKnjigaServlet</servlet-name>
		<servlet-class>rs.ac.uns.ftn.informatika.bibliography.reports.maticnaKnjiga.MaticnaKnjigaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UnsDisertacijeServlet</display-name>
		<servlet-name>UnsDisertacijeServlet</servlet-name>
		<servlet-class>rs.ac.uns.ftn.informatika.bibliography.reports.unsdesertacije.UnsDisertacijeServlet</servlet-class>
	</servlet>
 <servlet-mapping>
  <servlet-name>FileManagerServlet</servlet-name>
  <url-pattern>/DownloadFileServlet/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ReportsServlet</servlet-name>
  <url-pattern>/ReportsServlet/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandler</servlet-name>
  <url-pattern>/OAIHandler</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerDOISerbia</servlet-name>
  <url-pattern>/OAIHandlerDOISerbia</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerDARTEurope</servlet-name>
  <url-pattern>/OAIHandlerDARTEurope</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerOpenAIRE</servlet-name>
  <url-pattern>/OAIHandlerOpenAIRE</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerNDLTD</servlet-name>
  <url-pattern>/OAIHandlerNDLTD</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>OAIHandlerOATD</servlet-name>
  <url-pattern>/OAIHandlerOATD</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerDOISerbiaPA</servlet-name>
  <url-pattern>/OAIHandlerDOISerbiaPA</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerDARTEuropePA</servlet-name>
  <url-pattern>/OAIHandlerDARTEuropePA</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerOpenAIREPA</servlet-name>
  <url-pattern>/OAIHandlerOpenAIREPA</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerNDLTDPA</servlet-name>
  <url-pattern>/OAIHandlerNDLTDPA</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>OAIHandlerOATDPA</servlet-name>
  <url-pattern>/OAIHandlerOATDPA</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerNaRDuS</servlet-name>
  <url-pattern>/OAIHandlerNaRDuS</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerNaRDuSPA</servlet-name>
  <url-pattern>/OAIHandlerNaRDuSPA</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OAIHandlerOpenAIRECRIS</servlet-name>
  <url-pattern>/OAIHandlerOpenAIRECRIS</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>OAIHandlerProQuest</servlet-name>
  <url-pattern>/OAIHandlerProQuest</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>OAIHandlerBEOPEN</servlet-name>
  <url-pattern>/OAIHandlerBEOPEN</url-pattern>
 </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAIHandlerBEOPENILFE</servlet-name>
        <url-pattern>/OAIHandlerBEOPENILFE</url-pattern>
    </servlet-mapping>
<servlet-mapping>
    <servlet-name>OAIHandlerENauka</servlet-name>
    <url-pattern>/OAIHandlerENauka</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAIHandlerENaukaILFE</servlet-name>
        <url-pattern>/OAIHandlerENaukaILFE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAIHandlerENaukaUPAFarmacija</servlet-name>
        <url-pattern>/OAIHandlerENaukaUPAFarmacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAIHandlerTeslaRIS</servlet-name>
        <url-pattern>/OAIHandlerTeslaRIS</url-pattern>
    </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>/faces/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
		<servlet-name>MaticnaKnjigaServlet</servlet-name>
		<url-pattern>/MaticnaKnjigaServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnsDisertacijeServlet</servlet-name>
		<url-pattern>/UnsDisertacijeServlet/*</url-pattern>
	</servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>/error.jsp</location>
 </error-page>
 <error-page>
  <error-code>404</error-code>
  <location>/notFound.jsp</location>
 </error-page>
 <!--  <security-constraint>
   <web-resource-collection>
      <web-resource-name>SecureConnection</web-resource-name>
      <url-pattern>*</url-pattern>
   </web-resource-collection>
   <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
   </user-data-constraint>
</security-constraint>  -->
</web-app>